@model IEnumerable<LiveTiles.Models.TileLayoutUserLink>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tile.TileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.OrgUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tile.TileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.OrgUnit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TileLayoutUserLinkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TileLayoutUserLinkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TileLayoutUserLinkId })
        </td>
    </tr>
}

</table>
