@model IEnumerable<LiveTiles.Models.TileLayoutUserLink>

@{
    ViewBag.Title = "Layouts";
}

<h2>Layouts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.OrgUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tile.Title)
        </th>
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.OrgUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tile.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TileLayoutUserLinkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TileLayoutUserLinkId }) |
        </td>
    </tr>
}

</table>
