@model IEnumerable<LiveTiles.Models.Twitter>

@{
    ViewBag.Title = "Twitter Searches";
}
    <h2>Twitter Search</h2>
<p>
    To add a new Twitter search criteria click 'Create New'. To change a current search criteria click 'Edit'.
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.TileType)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCriteria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.TileType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchCriteria)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.RefreshPeriod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TileId })
        </td>
    </tr>
}

</table>
