@model IEnumerable<LiveTiles.Models.UserAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TileLayout.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TileLayout.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserAccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserAccountId })
        </td>
    </tr>
}

</table>
