@model IEnumerable<LiveTiles.Models.UserAccount>

@{
    ViewBag.Title = "User Accounts";
}

<h2>User Accounts</h2>
<p>
    To create a new account, click 'Create New', to change the tiles refresh period or other account details click 'Edit' on your account. 
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TileLayout.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TileLayout.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserAccountId })
        </td>
    </tr>
}

</table>
