
@model IEnumerable<LiveTiles.Models.Calender>

@{
    ViewBag.Title = "Calendar Index";
}

<h2>Calendar Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefreshPeriod)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefreshPeriod)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TileId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TileId }) |
                @Html.ActionLink("Items", "Index", "CalendarItems", new { id = item.TileId }, new { Name = "Example" })
            </td>
        </tr>
    }

</table>
