@model List<LiveTiles.Models.CalendarItem>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Start</th>
                <th>Finish</th>
                <th>Event</th>
            </tr>
            @foreach (var calendarItem in @Model)
            {
                <tr>
                    <td>@calendarItem.StartTime.ToString("f")</td>
                    <td>@calendarItem.EndTime.ToString("f")</td>
                    <td>
                        <h5> @calendarItem.Location</h5>
                        <small>@Html.Raw(@calendarItem.Content)</small>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>