@model List<LiveTiles.Models.CalendarItem>

<div class="container">
    <table class="table">
        <tbody>
            @foreach (var calendarItem in @Model)
            {
                <tr>
                    <td>@calendarItem.StartTime</td>
                    <td>@calendarItem.EndTime</td>
                    <td>
                        <h5> @calendarItem.Location</h5>
                        <small>@Html.Raw(@calendarItem.Content)</small>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>