<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LiveTiles - Community Information Centre</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top  navbar-default navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LiveTiles", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tiles", "Index", "Start")</li>
                    <li>@Html.ActionLink("User Account", "Index", "UserAccounts")</li>
                    <li>@Html.ActionLink("Layout", "Index", "TileLayoutUserLinks")</li>
                    <li>@Html.ActionLink("Noticeboard", "Index", "Noticeboards")</li>
                    <li>@Html.ActionLink("News", "Index", "Newsfeeds")</li>
                    <li>@Html.ActionLink("Calendar", "Index", "Calenders")</li>
                    <li>@Html.ActionLink("Twitter", "Index", "Twitters")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LiveTiles</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap_override")
    @RenderSection("scripts", required: false)
</body>
</html>
