@model List<object>

@{
    ViewBag.Title = "Noticeboard Items";
}

<h2>Noticeboard Items</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {id = (int)Model[0] })
</p>
<table class="table">
    <tr>
        <th>
            Text
        </th>
        <th></th>
    </tr>

@foreach (var item in Model[1] as  IEnumerable<LiveTiles.Models.NoticeboardItem>) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoticeboardItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoticeboardItemId })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Noticeboards")
</div>
